* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
  overflow: hidden;
}
form {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: black;
  color: white;
}
.reverse {
  display: flex;
  flex-direction: column-reverse;
}
input[type='text'],
textarea {
  outline: none;
  border: none;
  border-bottom: 3px ridge white;
  color: white;
  background: transparent;
  z-index: 10;
}
label {
  position: relative;
  top: 15px;
  transition: 0.5s ease-in-out;
  z-index: 1;
}
input:focus ~ label,
textarea:focus ~ label {
  top: -5px;
}
input[type='submit'] {
  font-size: 1.2rem;
  height: 30px;
  background-color: hotpink;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px;
}
